p {
  color: rgb(245, 239, 236);
  padding: 20px;
  background-color: cadetblue;
  border: 70px; font-size: 26px; 
  border-radius: 100px;
  text-align: justify;
}
h3{
  text-align: center;
  font-size: 50px;
  color: darkred;
} 
li {
  color: rgb(29, 54, 3);
  background-color: aqua; width: fit-content;
  border-radius: 5px
}